$neat-grid: (
  columns: 18,
  gutter: 4px,
);

.navbar {
  @include grid-column(18, $neat-grid);
  background: pink;
  height: 80px;
  margin-bottom: 25px;
  text-align: center;
  font-family: $helvetica;
}

.table-container {
  @include grid-container;
}

.grid-column {
  @include grid-column(1, $neat-grid);

  &:nth-of-type(2) {
    @include grid-push(16);

  }

  &:nth-of-type(5),&:nth-of-type(13) {
    @include grid-push(10);
  }

};
