$link-water: #dbeaf8;
$white: #ffffff;
$perano: #a8bffa;
$lime-green: #3bd93b;
$picton-blue: #4caffa;
$pink-pearl: #ddaacc;
$hit-pink: #ffaa88;
$petite-orchid: #dd9999;
$aureolin: #f3f300;
$ucla-gold: #f8b707;
$zumthor: #ccd3d9;
$hot-toddy: #AD8005;
$citrus: #AAAA00;
$copper-rose: #9A6B6B;
$astral: #357AAF;
$forest-green: #299729;
$ship-cove: #7585AF;
$hit-pink: #FFAA88;
$light-grey: #d3d3d3;
